.contactUsContainer{
    width: 1200px;
    min-height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.contactLeftSection{
    width:50%;
    justify-content: flex-start;
    flex-direction: column;
    margin: auto;
}

.footerListBox{
    width: 100%;
    margin: auto;
}

.footerListBox li {
    list-style: none;
    padding: 20px 0px;
    font-size: 1em;
}

.messageformContainer{
    display:flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    align-items: center; 
    width:50%;
    margin: auto;
}

.messageForm{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.fieldsLeft{
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: 168px;
} 


.fieldsRight{
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: auto;
    height: 168px;
}

.messageFields{
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: flex-start;
}

.fieldsLeft input, .fieldsRight input{
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid rgba(181, 216, 49, 1);
    width: 70%;
}

.fieldsLeft label, .fieldsRight label{
    margin-bottom: 5px;
    display: block;
    color: black;
}

#message{
    height: 38px;
}
.messageButton{
    color: white;
    background-color:rgba(181, 216, 49, 1);
    border: 1px solid rgba(181, 216, 49, 1);
    padding: 12px;
    cursor: pointer;
    cursor: pointer;
    width: 50%;
    margin: 0px 50px;
}

  
.messageButton:hover {
    background-color: rgba(162, 204, 1, 0.7);
    color: rgba(255, 255, 255, 0.7);
}

.footerMap{
    width: 1200px;
    min-height: auto;
    margin: auto;
}

.footerMap iframe{
    margin-top: 50px ;
    width: 100%;
    height: 400px;
    border: 0px;
}

/* change the font size and header content alignment if the viewport is less than 768px */
@media screen and (max-width: 768px) {
    .messageHeader{
        flex-direction: column;
        align-content: center;
    }
    .messageFields {
        font-size: 0.7em;
    }
    .messageHeader a , h1 {
        margin: auto;
        align-content: center;
        padding: 0.5em;
        font-size: 1em;
    }
}

