.selectedProductName {
    letter-spacing: 0.15em;
    margin: 0;
    line-height: normal;
    font: normal normal normal 35px/1.1em ,fantasy;
    color:rgba(181, 216, 49, 1);
    font-size: 1.5em;
}

.selectedProduct{
    position: relative;
    margin: auto;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: start;
    align-self: start;  
    overflow: initial;
    width: 1200px;
    justify-content: flex-start;
    flex-direction: column;
    margin: auto;
}

.productBox{
    list-style: none;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 800px;
    padding: 20px 0px;
} 

.productForm {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;
    width: 80%;
    margin: auto; 
    justify-content: center;
    align-content: space-between;
    
}

#drinkSize {
    padding: 12px 10px;
    border: 0.5px solid black;
}

#quantity {
    padding: 12px 10px;
    width: 100%; 
    border-width: 1px;
}
.productForm label {
    padding: 12px 0px;
    width: 100%; 
   
}
 .links{
    display: flex;
    margin: auto;
    justify-content: flex-start;
    padding: 20px 0px;
    width: 50%;
 }

.links button, .links a{
    padding: 12px;
    text-decoration: none;
    margin: 0 12px;
}

.addToCartLink {
    display: inline-block;
    margin: auto;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color:rgba(181, 216, 49, 1);
    border: 2.5px solid  rgba(181, 216, 49, 1);
    width: 200px;
}

.backToMenuLink{
    border: 1px solid  rgba(181, 216, 49, 1);
    color: black;
    display: inline-block;
    margin: auto;
    text-decoration: none;
    text-align: center;
    width: 200px;
   
}   

button:hover, a:hover{
    background-color: rgba(162, 204, 1, 0.7);
    color: rgba(255, 255, 255, 0.7);
}

/* align content for screen less than 768px*/
@media (max-width: 768px) {

    .backToMenuLink ,.addToCartLink{
        padding:0.5em;
        width:70%;
        margin: 5px 20%;
    }

    .productForm{
        width: 80%;
        align-content: space-between;
        padding: 0.5em;
    }

    #drinkSize, #quantity {
        width: 100%;
        font-size: 0.7em;
        margin: auto;
    }
    .links{
        flex-direction: column;
    }

}